@import "../variables.scss";

.custom-table {
    max-height: inherit;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    width: 100%;

    table {
        background: $background-1;
        width: inherit;

        thead th {
            top: 0;
            position: sticky;
        }

        thead tr {
            background: $background-0;
            color: white;
        }

        th,
        td {
            color: white;
            padding: 15px;
            @include no-select;
            z-index: 10;
        }

        th {
            background-color: $background-0;

            &.sort {
                cursor: pointer;

                &.active {
                    color: $blue-1;
                }
            }

        }


        tbody {
            width: 100vw;
            height: 100px;
            overflow-y: auto;

            tr {
                border-top: 1px solid #444;
                border-bottom: 1px solid #444;

                td {
                    .actions {
                        display: inline-flex;
                        opacity: 0;
                        gap: 10px;
                    }
                }

                &:hover {
                    background: $background-2 !important;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                    td {
                        .actions {
                            transition: all 0.5s ease;
                            opacity: 1;
                            display: inline-flex;
                            gap: 10px;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .child {
            background: $background-0;
        }

        .cut-text {
            text-overflow: ellipsis;
            overflow: hidden;
            width: inherit;
            white-space: nowrap;
        }
    }
}