/* Affinity styles - using CSS variables for Tailwind compatibility */

.affinityRenderer {
    display: grid;
    gap: 2px;

    .activeAffinity {
        height: 5px;
        width: 5px;
        background-color: var(--accent);
    }

    .inactiveAffinity {
        height: 5px;
        width: 5px;
        background-color: var(--background);
    }
}
