@import "../../../src/variables.scss";


.header {
    display: flex;
    flex-direction: row;
}


.container {
    will-change: transform;
    width: 100%;
    max-width: 100%;

    &.scrollY {
        overflow-y: scroll;
    }
}

.custom {
    width: 100%;
    max-width: 100%;

    .category {
        color: white;
        padding: 1.25rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    }

    .category-flex {
        color: white;
        padding: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
}

.section {
    background: $background-1;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 1em;
}

.traditional {
    width: 100%;
    max-width: 100%;

    .ant-dropdown-trigger:hover {
        background: none !important;
        box-shadow: none !important;
    }

    .category {
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
        background: $background-1;
        display: grid;
        gap: 0;
        grid-template-columns: 2rem 1fr;
        padding: 0.625rem 0.625rem 0.625rem 0;

        &:hover {
            background: $background-2;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor: pointer;
        }

        &.selected {
            background: $background-0;
        }
    }
}