$background-0: #222;
$background-1: #333;
$background-2: #555;
$background-3: rgb(185, 74, 0);
$header-background: $background-0;
$blue-0: #1b6ec2;
$blue-1: #00a2ff;
$blue-2: #00e1ff;
$scroll-hover-color-1: $blue-0;
$border-blue: $blue-0;
$btn: #333;
$btn-selected: $blue-1;
$btn-primary: #1b6ec2;
$btn-danger: rgb(88, 0, 0);
$primary: white;
$secondary: rgb(168, 168, 168);
$interactableStaticColor: rgb(221, 221, 221);
$interactableHoverColor: rgb(255, 255, 255);

@mixin header {
    background: $header-background;
    color: white;
    border-bottom: 0px;
}

@mixin header-hover {
    @include header;
    background: lighten($header-background, 5%);
}

@mixin content-header {
    border-bottom: 0px;
}

@mixin box-shadow {
    box-shadow: 0 0 20px $background-2;
}

@mixin no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}